.map{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
    
}
h1{
   font-size: larger;
    font-weight: 900;
    margin-left: 10px;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: normal;
    text-transform: none;
    color: #2d2d29;
}
h5{
    margin-left: 10px;
    font-size: 24px;
    font-weight: 400;

}
.service-title{
  text-align: center;
}