.book-card{
    border: #e5e5e5 2px solid;
    border-radius: 10px;
}
.book-img img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px 10px 0 0; 
}

.title{
    font-size: 15px;
    font-weight: 700;
    color: #4527a0;
  
}
.book-price{
    display: flex;
    justify-content: space-between;
}
.icon{
    margin-right: 10px;
    color: rgb(247, 166, 67);
    font-weight: 700;
}
