.bannar{
  background: url(https://static.tickets.com.tr/img/v4/header-bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.type-writer{
  color: white !important;
}
