.tour_packages {
  width: 100%;
  height: 100%;
  background-image: url("../../../../img/element-1.png");
  background-color: #5e35b1 !important;
  padding: 70px 0;
}
.tour_img {
  width: 94% !important;
  height: 250px;
  border-radius: 10px !important;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.tour_img img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.tour_img img:hover {
  transform: scale(1.2);
}
.tour_price {
  position: absolute;
  left: 30px;
  top: 30px;
  background: #dcbb87;
  width: 100px;
  height: 40px;
  color: #222 !important;
  font-size: 1.1rem !important;
  font-weight: 700 !important;
  line-height: 40px !important;
  border-radius: 5px;
  text-align: center;
}
.airplane svg {
  font-size: 20px;
  margin-top: 10px;
  color: #dcbb87;
  transform: rotate(90deg);
}
.tour_btn {
  color: #111 !important;
  font-weight: 700 !important;
  transition: all 0.5s ease-in-out !important;
  margin-top: -10px !important;
}
.tour_btn:hover {
  background: none !important;
  color: #dcbb87 !important;
  transform: translateX(10px) !important;
}
.video_icon svg {
  font-size: 45px;
  padding-right: 12px;
  color: #dcbb87;
}
.arrow_buttons {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  line-height: 44px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
.left svg {
  margin-right: 3px;
}
.arrow_buttons:hover {
  background: #dcbb87;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .tour_packages {
    background-image: none;
  }
}
/* ===========tourdetails */
.tourdetails input{
  width: 100%;
  margin-bottom: 15px;

}
